spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db?currentSchema=public
    username: user
    password: pass
    driverClassName: org.postgresql.Driver
  freemarker:
    expose-request-attributes: true

logging:
  level:
    root: DEBUG
#    org:
#      springframework:
#        web: trace
#      apache: trace
